name: CI Docker

on:
  pull_request:

permissions:
  contents: read
  security-events: write

jobs:
  docker-scan:
    uses: marcel-tuinstra/devops/.github/workflows/reusable-ci-docker.yml@v1
    with:
      dockerfile: Dockerfile
