name: site-tuinstra-release-pr

on:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  release-pr:
    uses: marcel-tuinstra/devops/.github/workflows/reusable-release-pr.yml@v1
    secrets: inherit
    with:
      release-mode: date
